.remove-purchase__dialog {
	max-width: 500px;
}

.remove-purchase__card {
	cursor: pointer;

	.gridicon {
		margin-top: -2px;
		margin-right: 4px;
		vertical-align: middle;
	}
}

.remove-purchase__chat-link-container {
	color: darken( $gray, 20% );
	line-height: 40px; /*Vertical align the text in the middle*/

	@include breakpoint( ">480px" ) {
		float: left;
	}
}
